@import "tailwindcss";

@font-face {
    font-family: "Favorit";
    src: url(./fonts/Favorit.woff2), format("woff2");
    font-weight: inherit;
    font-style: inherit;
}

@font-face {
    font-family: "Favorit Mono";
    src: url(./fonts/FavoritMono.woff2), format("woff2");
    font-weight: inherit;
    font-style: inherit;
}

@theme {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --font-sans: "Favorit", sans-serif;
    --font-mono: "Favorit Mono", monospace;
    --font-favorit: "Favorit", sans-serif;
    --font-favorit-mono: "Favorit Mono", sans-serif;
    --font-google-sans: "Google Sans", sans-serif;
    --font-google-sans-flex: "Google Sans Flex", sans-serif;
    --font-google-sans-code: "Google Sans Code", monospace;
    --font-space-grotesk: "Space Grotesk", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-roboto: "Roboto", sans-serif;
    --font-inter: "Inter", sans-serif;
}

@layer utilities {
    .custom-scrollbar {
        scrollbar-color: #868686 #242424;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}


@media (prefers-color-scheme: dark) {
    @theme {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
    background-color: var(--background);
}

#root {
    width: 100%;
}