@import "tailwindcss";

@font-face {
    font-family: "Favorit";
    src: url(./assets/fonts/Favorit.woff2), format("woff2");
}

@font-face {
    font-family: "Favorit Mono";
    src: url(./assets/fonts/FavoritMono.woff2), format("woff2");
}

@theme {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --font-sans: "Favorit", sans-serif;
    --font-mono: "Favorit Mono", monospace;
}

@layer utilities {
    .custom-scrollbar {
        scrollbar-color: #868686 #242424;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    font-family: var(--font-sans);
    background-color: var(--background);
}

#root {
    width: 100%;
}